<%= form_for :user, :url => spree.user_session_path, :html => {:class => "form login-form"} do |f| %>

  <legend>Login <span class="blue">Joyeria</span></legend>

  <div class="body" id="password-credentials">
    <label><%= t(:email) %></label>
    <%= f.email_field :email, :tabindex => 1 %>
    <label><%= t(:password) %></label>
    <%= f.password_field :password, :tabindex => 2 %>
  </div>

  <div class="footer">
    <label class="checkbox inline">
      <%= f.check_box :remember_me %> <%= t(:remember_me) %>
    </label>
    <%= f.submit t(:login), :class => "btn btn-success" %>
  </div>
<% end %>