<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <div class="alert alert-info" style="margin-left:-10px;margin-right:10px;">
    <h3 style="text-align:center;"><%= t(:no_products_found) %></h3>
  </div>
<% end %>
<% if products.any? %>
  <div id="products" style="margin-bottom: 20px;"data-hook>
    <div class="container" style="padding: 180px 0;">
      <ul class="thumbnails">
        <% products.each do |product| %>
          <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
            <li id="product_<%= product.id %>" class="span2 <%= cycle('', '', '', :name => 'classes') %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
              <%= form_for :order, :url => populate_orders_url do |f| %>
                <div class="thumbnail">
                  <%= link_to small_image(product, :itemprop => 'image'), product, :itemprop => 'url' %>
                  <div class="caption">
                     <h5><%= link_to truncate(product.name, :length => 50), product, :class => 'info',
                                     :itemprop => 'name', :title => product.name %></h5>
                    Price: <%= product.price_in(current_currency).display_price %><br /><br />
                  </div>
                  <%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1, :in => 1..product.on_hand %>
                  <%= button_tag :class => 'btn btn-primary btn-mini', :id => 'add-to-cart-button', :type => :submit do %>
                    <i class="icon-shopping-cart icon-white"></i>
                    <%= t(:add_to_cart) %>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end -%>


<% if paginated_products.respond_to?(:num_pages) %>
  <div class="pagination">
    <%= paginate paginated_products %>
  </div>
<% end %>